<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>

{{>navbar}}

<!-- main part -->
  <div class="container-fluid main_header_left align-items-center">
  <div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <div class="row">
          <!-- right side div below -->
      <div class="col-md-12 col-12 main_header_right align-items-center">
        <figure class="err-img">
            <img src="./Images/404new.jpg" alt="myImg"class="img-fluid" title="myImg">
        </figure>
        <h1>{{errorMsg}}</h1>
        <a href="/"><button>Go Back</button></a>
        </div>

    
    </div>
    </div>
    </div>
    </div>

{{>footer}}
</body>
</html>