<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>

{{>navbar}}

<!-- main part -->
  <div class="container-fluid main_header">
  <div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <div class="row">
          <!-- right side div below -->
      <div class="col-md-6 col-12 main_header_right align-items-center">
        <figure>
            <img src="./Images/aboutnew.jpg" alt="myImg"class=img-fluid title="myImg">
        </figure>
        </div>
      <!-- left side below -->
      <div class="col-md-6 col-12 main_header_left">
        <p>Welcome to Rithik Guleria's Website</p>
        <h1>I am a <span class="text-color">MERN STACK DEVELOPER</span>, Youtuber And a Freelancer</h1>
        <a href="https://rithik01.github.io/RithikGuleria/" target="_blank"><button>About Me</button></a>
      </div>
    
    </div>
    </div>
    </div>
    </div>

{{>footer}}
</body>
</html>